IT Final Year Lohaghat/Connected Services/ITFinalYearWebServices/ITFinalWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://gplohaghat.org.in/ITFinalWS" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://gplohaghat.org.in/ITFinalWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gplohaghat.org.in/ITFinalWS">
      <s:element name="GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="queryString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSet" />
  </wsdl:message>
  <wsdl:message name="GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSetResponse" />
  </wsdl:message>
  <wsdl:portType name="ITFinalWebServiceSoap">
    <wsdl:operation name="GetDataSet">
      <wsdl:input message="tns:GetDataSetSoapIn" />
      <wsdl:output message="tns:GetDataSetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ITFinalWebServiceSoap" type="tns:ITFinalWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataSet">
      <soap:operation soapAction="http://gplohaghat.org.in/ITFinalWS/GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ITFinalWebServiceSoap12" type="tns:ITFinalWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataSet">
      <soap12:operation soapAction="http://gplohaghat.org.in/ITFinalWS/GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ITFinalWebService">
    <wsdl:port name="ITFinalWebServiceSoap" binding="tns:ITFinalWebServiceSoap">
      <soap:address location="https://localhost:44390/ITFinalWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ITFinalWebServiceSoap12" binding="tns:ITFinalWebServiceSoap12">
      <soap12:address location="https://localhost:44390/ITFinalWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>