IT Final Year Lohaghat/Connected Services/ITFinalGPLG/ITFinalLohaghat.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://gplohagat.org.in/ITFinal" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://gplohagat.org.in/ITFinal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This Service Provides Institute Detail of Polytechnic in Uttarakhand</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://gplohagat.org.in/ITFinal">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInstituteInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="instCode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInstituteInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInstituteInformationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetInstituteInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetInstituteInformation" />
  </wsdl:message>
  <wsdl:message name="GetInstituteInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetInstituteInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="ITFinalLohaghatSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This Methods Returns a string literal</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInstituteInformation">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This Methods Returns a Institute Information by Code</wsdl:documentation>
      <wsdl:input message="tns:GetInstituteInformationSoapIn" />
      <wsdl:output message="tns:GetInstituteInformationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ITFinalLohaghatSoap" type="tns:ITFinalLohaghatSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="https://gplohagat.org.in/ITFinal/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstituteInformation">
      <soap:operation soapAction="https://gplohagat.org.in/ITFinal/GetInstituteInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ITFinalLohaghatSoap12" type="tns:ITFinalLohaghatSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="https://gplohagat.org.in/ITFinal/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstituteInformation">
      <soap12:operation soapAction="https://gplohagat.org.in/ITFinal/GetInstituteInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ITFinalLohaghat">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This Service Provides Institute Detail of Polytechnic in Uttarakhand</wsdl:documentation>
    <wsdl:port name="ITFinalLohaghatSoap" binding="tns:ITFinalLohaghatSoap">
      <soap:address location="https://localhost:44390/ITFinalLohaghat.asmx" />
    </wsdl:port>
    <wsdl:port name="ITFinalLohaghatSoap12" binding="tns:ITFinalLohaghatSoap12">
      <soap12:address location="https://localhost:44390/ITFinalLohaghat.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>